@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.avatar {
  width: 30px;
  border-radius: 50%;
}
.text-primary-p {
  color: #c1c1c1;
  font-size: 14px;
  font-weight: 700;
}

.font-bold {
  font-weight: 700;
}

.text-title {
  color: #e06140;
}

.text-lightblue {
  color: #469cac;
}
.text-gray {
  color: #c1c1c1;
}

.text-red {
  color: #cc3d38;
}

.text-yellow {
  color: #a98921;
}

.text-green {
  color: #3b9668;
}
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.7fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 0.1fr 3fr;
  grid-template-areas:
    "nav nav nav nav"
    "back-bar back-bar back-bar back-bar"
    "sidebar main main main";
}
#back__bar {
  background: #ffffff;
  border-bottom: 1px solid #c1c1c1;
  grid-area: back-bar;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 30px;
}

@media only screen and (max-width: 978px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.1fr 3fr;
    grid-template-areas:
      "nav"
      "back-bar"
      "main";
  }

  #sidebar {
    display: none;
  }
  .sidebar__title > i {
    display: inline;
  }

  .nav_icon {
    display: inline;
  }
}

@media only screen and (max-width: 855px) {
  .main__cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .container_info {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 748px) {
  .navbar__left {
    display: none;
  }
  .sidebar_navbar__left {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 394px) {
  .container_info__right__cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }
  .container_info {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
  .navbar__left {
    display: none;
  }
}

@media only screen and (min-width: 1600px) {
  .main__cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 9px 0;
  }
  .main__container {
  }

  .container {
    background-color: #c1c1c1;
    display: grid;
    height: 100vh;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.1fr 3fr;
    grid-template-areas:
      "nav nav nav nav"
      "back-bar back-bar back-bar back-bar"
      "sidebar main main main";
  }
  main {
    width: max-content;
    justify-self: center;
    background: #c1c1c1;
    grid-area: main;
    overflow-y: auto;
    height: fit-content;
  }
}




/* @media only screen and (min-width: 1440px) {
  .main__cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 9px 0;
  }
  .main__container {
  }

  .container {
    background-color: #c1c1c1;
    display: grid;
    height: 100vh;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.1fr 3fr;
    grid-template-areas:
      "nav nav nav nav"
      "back-bar back-bar back-bar back-bar"
      "sidebar main main main";
  }
  main {
    width: max-content;
    justify-self: center;
    background: #c1c1c1;
    grid-area: main;
    overflow-y: auto;
    height: fit-content;
  }
} */
